@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
    font-family: 'Roboto Condensed', sans-serif !important;
}
body,html{
    height: 100%;
    width:100%;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
.parallax-picture1 {
    background-image: url("images/image1.jpg");
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.parallax-picture2 {
  background-image: url("images/image2.jpg");
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel1{
    height:100%;
    background-color:  white;
    font-size:12px;
}

.panel2{
    height:20%;
    background-color: gray;
    font-size:12px;
}

ul.navbar {
    list-style-type: none;
    position:fixed;
    width: 100%;
    top: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 15px;
    border-radius: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: #353535;
    color: white;
    text-decoration: none;
}

div.container1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    text-align:center;
}

.txt-type > .txt {
    border-right: 0.2rem solid #EAEAEA;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  .show {
    animation: slideIn 5s ease-in-out;
  }